{% extends "base.html" %}

{% block title %}IntegrityAI - Red Claw{% endblock %}

{% block content %}
<div class="header">
  <div class="hand-container">
    <img src="{{ url_for('static', filename='img/corrupt1.jpg') }}" alt="Modules Image" class="header-image" />
    <div class="header-text-overlay">
      <div class="title-box">
        <h1 class="main-title">IntegrityAI</h1>
      </div>
    </div>
  </div>
</div>

<div class="content-section">
  <h2>Explore Our Learning Modules</h2>
  <p>Access educational resources and AI tools to strengthen your knowledge and integrity skills.</p>
</div>
{% endblock %}
